@font-face
{
    font-family: 'SourceSansPro-Light';
    src: url('fonts/SourceSansPro-Light.ttf');
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
    outline: 0;
    font-family: SourceSansPro-Light;
}

#menuItem1 a
{
    background-color: #ff5b35;
}
#menuItem2 a
{
    background-color: #f7931e;
}
#menuItem3 a
{
    background-color: #7f56c5;
}
#menuItem4 a
{
    background-color: #3e8ede;
}
#menuItem5 a
{
    background-color: #57c1e8;
}
#menuItem6 a
{
    background-color: #00b288;
}
#menuItem7 a
{
    background-color: #8ac640;
}
#menuItem8 a
{
    background-color: #3fd5ae;
}

div.mainMenu a img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
}


@media screen and (max-width: 1920px)
{
    body
    {
        width: 1920px;
        height: 1080px;
        top: 0px;
        left: 0px;
        position: absolute;
        overflow: hidden;
        background-repeat: no-repeat;
        background-color: white;
        background-color: purple;
    }
    .mainMenu
    {
        position: absolute;
        top: 690px;
        left: 0px;
        width: inherit;
        height: 260px;
        background-color: #333333;
        opacity: .95;
    }

    div.mainMenu div
    {
        float: left;
        width: 240px;
        height: 255px;
        margin-top: 5px;
    }
    div.mainMenu a
    {
        width: inherit;
        height: 216px;
    }
    
    div.mainMenu span
{
    color: white;
    font-size: 25px;
    position: absolute;
    text-align: center;
    margin-top: 11.5%;
    width: inherit;
}
}

body
{
    width: 1280px;
    height: 720px;
    top: 0px;
    left: 0px;
    position: absolute;
    overflow: hidden;
    background-repeat: no-repeat;
    background-color: white;
    background-color: lightblue;
    margin: 0;
}

.mainMenu
{
    position: absolute;
    top: 547px;
    left: 0px;
    width: inherit;
    height: 173px;
    background-color: #333333;
    opacity: .95;
}

div.mainMenu div
{
    float: left;
    width: 160px;
    height: 170px;
    margin-top: 3px;
}

div.mainMenu a
{
    position: absolute;
    width: inherit;
    height: 144px;
}
div.mainMenu span
{
    color: white;
    font-size: 16px;
    position: absolute;
    text-align: center;
    margin-top: 11.5%;
    width: inherit;
}